lastMileAgent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d90a1d8d-84cb-497f-a96d-9169a104391f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        32
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ebc1a5a-c818-4f2b-8905-451d51985def",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        112,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "vy5yb6b7fjV2ya66",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Steps to follow\n\n{{ $agentInfo.memoryConnectedToAgent ? '1. Skip': `1. STOP and output the following:\n\"Welcome to n8n. Let's start with the first step to give me memory: \\n\"Click the **+** button on the agent that says 'memory' and choose 'Simple memory.' Just tell me once you've done that.\"\n----- END OF OUTPUT && IGNORE BELOW -----` }} \n\n\n{{ Boolean($agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool')) ? '2. Skip' : \n`2. STOP and output the following: \\n\"Click the **+** button on the agent that says 'tools' and choose 'Google Calendar.'\" \\n ----- IGNORE BELOW -----` }}\n\n\n{{ $agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').hasCredentials ? '3. Skip' :\n`3. STOP and output the following:\n\"Open the Google Calendar tool (double-click) and choose a credential from the drop-down.\" \\n ----- IGNORE BELOW -----` }}\n\n\n{{ $agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').resource === 'Event' ? '4. Skip' :\n`4. STOP and output the following:\n\"Open the Google Calendar tool (double-click) and set **resource** = 'Event'\" `}}\n\n\n{{ $agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').operation === 'Get Many' ? '5. Skip' :\n`5. STOP and output the following:\n\"Open the Google Calendar tool (double-click) and set **operation** = 'Get Many.'\" \\n ----- IGNORE BELOW -----` }}\n\n\n{{ $agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').hasValidCalendar ? '6. Skip' :\n`6. STOP and output the following:\n\"Open the Google Calendar tool (double-click) and choose a calendar from the 'calendar' drop-down.\" \\n ----- IGNORE BELOW -----` }}\n\n\n{{ ($agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').aiDefinedFields.includes('Start Time') && $agentInfo.tools.find((tool) => tool.type === 'Google Calendar Tool').aiDefinedFields.includes('End Time')) ? '7. Skip' :\n`7. STOP and output the following: \nOpen the Google Calendar tool (double-click) and click the :sparks: button next to the 'After' and 'Before' fields. \\n ----- IGNORE BELOW -----` }}\n\n\n8. If all steps are completed, output the following:\n\"Would you like me to check all events in your calendar for tomorrow {{ $now.plus(1, 'days').toString().split('T')[0] }}?\"\n\n# User message\n\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a last-mile delivery assistant agent.\n\nWhen you receive an input like:\n\"<package_id> recipient unavailable\" (e.g., \"PKG0005 recipient unavailable\"), follow these steps:\n\n1. Lookup package details from the data sheet:\n\nDate (use this date for reference later to find free slots)\n\nSize (Small/Large)\n\nInstallation requirement (Yes/No)\n\nCamera and Security (Yes/No)\n\n2. Decide based on package attributes:\nIf all are true:\n\nSize is Small\n\nInstallation is No\n\nCamera and Security is Yes\n\nThen:\n\nInstruct the delivery agent to drop off the package at the recipient’s doorstep.\n\nSend the following email to the customer:\n\"Your package <package_id> has been dropped off safely at your doorstep. Kindly collect it at your convenience.\"\n\n3. Else → Slot selection process:\n\nRetrieve the list of available \"Free\" events on the date retrieved from the list (each is a 1-hour slot between 06:30 and 14:30). These events specifically have the title \"Free\".\n\nPresent the next 5 \"Free\" slots (include both date and time for each) to the delivery agent and ask them to select one.\n\nThe slots are scheduled events with the name \"Free\" in the calendar\n\nOnce the delivery agent chooses a slot:\n\nDelete that \"Free\" slot. Create a new slot with the summary \"Drop-off\" for the same time interval.\n\nSend the customer a confirmation email:\n\"Your order will arrive at <chosen time interval>. Kindly keep yourself free or arrange for someone to collect it.\"\n\n4. Output formatting:\nFor every input, output:\n\nClear instructions for the delivery agent,\n\nExact email to be sent to the customer,\n\nThe chosen slot (if rescheduling was necessary)."
        }
      },
      "id": "f53bb33c-a771-436a-96fc-142f75a3f2c0",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        384,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZjD8w4hU0itrZ6T3FOJv6kM9WM7F0__7qCqKhLNku7I",
          "mode": "list",
          "cachedResultName": "Deliveries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjD8w4hU0itrZ6T3FOJv6kM9WM7F0__7qCqKhLNku7I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjD8w4hU0itrZ6T3FOJv6kM9WM7F0__7qCqKhLNku7I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        512,
        352
      ],
      "id": "a1aa83c3-bbdf-4af2-9de0-0216376cbcb3",
      "name": "getTasks",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2DdoPxsQH30Ypo7D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "udemyshare1234@gmail.com",
          "mode": "list",
          "cachedResultName": "udemyshare1234@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        352
      ],
      "id": "09afb4ae-f753-4a06-92eb-4f310892a3f9",
      "name": "getFreeSlots",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vFrjAWzluOXtq9Nh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "amaanahmed.4104@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1344,
        352
      ],
      "id": "5e3adbc2-0292-4133-bc0f-9f8f5a3fb767",
      "name": "sendConfirmation",
      "webhookId": "1805bc64-d973-4327-bb99-c341c915a523",
      "credentials": {
        "gmailOAuth2": {
          "id": "p7qPXBNy8GNaPPjD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "udemyshare1234@gmail.com",
          "mode": "list",
          "cachedResultName": "udemyshare1234@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        352
      ],
      "id": "ab7104a2-0869-4484-aa2c-ead453ce4e39",
      "name": "rescheduleDelivery",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vFrjAWzluOXtq9Nh",
          "name": "Google Calendar account"
        }
      },
      "notes": "The event title / name should be \"Drop-off\""
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "udemyshare1234@gmail.com",
          "mode": "list",
          "cachedResultName": "udemyshare1234@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        912,
        352
      ],
      "id": "0c8c7c08-e16d-402d-adcf-be5e102b8d4f",
      "name": "removeFreeSlot",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vFrjAWzluOXtq9Nh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        368
      ],
      "id": "07e9d4b9-4feb-4e14-898d-39d48bf81d8e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "getTasks": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getFreeSlots": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendConfirmation": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rescheduleDelivery": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "removeFreeSlot": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b991bca-d0a7-4919-8ce8-7afea6a50683",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd352270c87cb365c6416b8f1a57ba1f694613be6e5ef3284712fca64b153cad"
  },
  "id": "qTI1QFoONGW2o1Jr",
  "tags": []
}